@import "tailwindcss";

@theme {
  --color-gray-default: #ffffff; /* 255 255 255 */
  --color-gray-50: #f9fafb; /* 249 250 251 */
  --color-gray-100: #f3f4f6; /* 243 244 246 */
  --color-gray-200: #e5e7eb; /* 229 231 235 */
  --color-gray-300: #d1d5db; /* 209 213 219 */
  --color-gray-400: #9ca3af; /* 156 163 175 */
  --color-gray-500: #6b7280; /* 107 114 128 */
  --color-gray-600: #4b5563; /* 75 85 99 */
  --color-gray-700: #374151; /* 55 65 81 */
  --color-gray-800: #1f2937; /* 31 41 55 */
  --color-gray-900: #111827; /* 17 24 39 */
  --color-gray-950: #030712; /* 3 7 18 */
}

.dark {
  --color-gray-default: #030712; /* 3 7 18 */
  --color-gray-50: #111827; /* 17 24 39 */
  --color-gray-100: #1f2937; /* 31 41 55 */
  --color-gray-200: #374151; /* 55 65 81 */
  --color-gray-300: #4b5563; /* 75 85 99 */
  --color-gray-400: #6b7280; /* 107 114 128 */
  --color-gray-500: #9ca3af; /* 156 163 175 */
  --color-gray-600: #d1d5db; /* 209 213 219 */
  --color-gray-700: #e5e7eb; /* 229 231 235 */
  --color-gray-800: #f3f4f6; /* 243 244 246 */
  --color-gray-900: #f9fafb; /* 249 250 251 */
  --color-gray-950: #ffffff; /* 255 255 255 */
}

body {
  background: var(--color-gray-default);
  font-family: Arial, Helvetica, sans-serif;
}
